---
layout: default
---
<div class="container docs-container">
  <div class="row">
    <div class="col-md-3">
      <div class="sidebar hidden-print" role="complementary">
        {% include lefttree.html %} 
      </div>
    </div>
    <div class="col-md-9" role="main">
      <div class="panel docs-content">
        <div class="wrapper">
            <header class="post-header">

                      {% if node.type == 'easy' %}
<h1 class="post-title">{{ page.title }}<span>{{ page.type }}</span></h1>

{% elsif node.type == 'medium' %}
<h1 class="post-title">{{ page.title }}<span>{{ page.type }}</span></h1>
     
         {% elsif node.type == 'hard; %}
<h1 class="post-title">{{ page.title }}<span style="color: #FF2D55;">{{ page.type }}</span></h1>
        {% else %}
        <h1 class="post-title">{{ page.title }}<span>{{ page.type }}</span></h1>
        {% endif %}


              <!--
                <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
              -->
              <div class="meta">Posted on <span class="postdate">{{ page.date | date: "%Y/%m/%d" }}</span> By <a target="_blank" href="{{site.url}}">{{ site.author }}</a></div>
              <br />
            </header>
            <article class="post-content">
              {{ content }}
            </article>
        </div>
      </div>
    </div>
  </div>
</div>
